<% #@article.comments.each do |comment| %>
  <p>  
  Commenter: <%= comment.commenter %>  
  <br>
  Comment: <%= comment.body %> <br>
  <%= link_to "|delete comment|" , [comment.article, comment] ,
        method: :delete,
        data: {confirm: "Sure?" } %>
  </p>
<% #end %>
