<h1> This is for show </h1>

<p>
  <strong> Title </strong>
  <%= @article.title %>
</p>

<p>
  <strong> Text </strong>
  <%= @article.text %>
</p>
<hr>

<h2> Comments </h2>
<%= render @article.comments %>


<h2> Add a comment </h2> 
<%= render 'comments/form' %>


<%= link_to "Create New" , new_article_path %> | <%= link_to "View Articles" , articles_path %> | 
<%= link_to "Edit Article", edit_article_path(@article) %> 
